# Naive Bayes Model

In [3]:
import pandas as pd

df = pd.read_csv("kidney_Disease_Pre_processed.csv")
df.head(20)

,Unnamed: 0,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
0,0,40,3,3,1,0,0,0,1,1,...,32,36,31,0,0,1,1,1,1,0
1,1,5,0,3,4,0,0,0,1,1,...,26,20,0,1,1,1,1,1,1,0
2,2,54,3,1,2,3,0,0,1,1,...,19,34,0,1,0,1,0,1,0,0
3,3,40,2,0,4,0,0,1,0,1,...,20,26,18,0,1,1,0,0,0,0
4,4,43,3,1,2,0,0,0,1,1,...,23,32,25,1,1,1,1,1,1,0
5,5,52,4,2,3,0,0,0,1,1,...,27,36,23,0,0,1,1,0,1,0
6,6,60,2,1,0,0,0,0,1,1,...,24,0,0,1,1,1,1,1,1,0
7,7,17,3,2,2,4,0,1,1,1,...,32,28,29,1,0,1,1,0,1,0
8,8,44,5,2,3,0,0,1,0,1,...,21,52,19,0,0,1,1,1,0,0
9,9,45,4,3,2,0,1,1,0,1,...,17,71,16,0,0,1,0,1,0,0
10,10,42,1,1,2,4,0,1,0,1,...,16,0,0,0,0,1,1,1,0,0
11,11,55,2,1,3,0,1,1,0,1,...,20,7,17,0,0,1,0,0,1,0
12,12,60,2,2,3,1,0,0,0,1,...,16,72,13,0,0,0,0,0,1,0
13,13,60,2,3,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,1,0
14,14,60,3,1,3,2,0,1,0,0,...,4,63,5,0,0,0,0,0,1,0
15,15,32,3,2,3,0,0,0,1,1,...,12,3,7,0,1,1,1,1,0,0
16,16,39,2,2,2,0,0,0,1,1,...,0,0,0,1,1,1,1,1,1,0
17,17,39,3,3,0,0,0,0,1,1,...,0,0,0,0,1,1,0,1,1,0
18,18,52,5,4,0,3,0,0,1,1,...,25,66,22,0,0,0,1,1,1,0
19,19,54,1,2,1,0,0,1,0,1,...,18,13,16,0,1,0,1,1,1,0

In [4]:
x = df.drop('class',axis='columns')
y = df['class']
x

,Unnamed: 0,age,bp,sg,al,su,rbc,pc,pcc,ba,...,hemo,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane
0,0,40,3,3,1,0,0,0,1,1,...,90,32,36,31,0,0,1,1,1,1
1,1,5,0,3,4,0,0,0,1,1,...,49,26,20,0,1,1,1,1,1,1
2,2,54,3,1,2,3,0,0,1,1,...,32,19,34,0,1,0,1,0,1,0
3,3,40,2,0,4,0,0,1,0,1,...,48,20,26,18,0,1,1,0,0,0
4,4,43,3,1,2,0,0,0,1,1,...,52,23,32,25,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,47,3,3,0,0,0,0,1,1,...,93,35,26,28,1,1,1,1,1,1
396,396,34,2,4,0,0,0,0,1,1,...,101,42,36,41,1,1,1,1,1,1
397,397,8,3,3,0,0,0,0,1,1,...,94,37,25,33,1,1,1,1,1,1
398,398,11,1,4,0,0,0,0,1,1,...,78,39,31,38,1,1,1,1,1,1
399,399,50,3,4,0,0,0,0,1,1,...,94,41,27,40,1,1,1,1,1,1

In [8]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    1
399    1
Name: class, Length: 400, dtype: int64

# Train and Predict

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [12]:
df.columns[df.isna().any()]

Index([], dtype='object')

In [17]:
len(x_train)

320

In [18]:
len(x_test)

80

In [21]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [22]:
model.fit(x_train,y_train)

GaussianNB()

In [23]:
model.score(x_test,y_test)

0.975

In [25]:
y_test[:10]

205    0
87     0
247    0
286    1
196    0
304    1
244    0
119    0
116    0
222    0
Name: class, dtype: int64

In [24]:
model.predict(x_test[:10])

array([0, 0, 0, 1, 0, 1, 0, 0, 0, 0])